<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.buglabs.android.demo"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">

        <activity android:name=".BuglabsDemoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <service android:enabled="true" android:name=".BuglabsDemoService" />

	<receiver android:enabled="true" android:name=".BuglabsBootupReceiver"
		android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</receiver> 
    </application>






<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
</manifest> 